.navbar{
	background-color: #eeeeee !important;
	border-top: 4px solid #0d47a1;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}

#searchForm {
	width: 60vw;
	height: 38px;
}

.form-control:focus {
	border: 0px solid !important;
	color:red;
}

.card-body {
	padding: 10px 20px 0px 10px !important;
}

.card:hover {
	transform: scale(1.1);
	z-index: 999;
	transition: 0.5s;
}

.content {
	margin-top: 60px;
}

.spacing {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 13px;
}